@import '../variables/vars';

.video__content {

    width: 100%;
    height: 150px;

    filter: blur(3px);
    //oscurecer un poco
    filter: opacity(0.5);
    border-radius: 1rem;
    //hacer crop del video a lo alto
    object-fit: cover;

}

.center {
    position: relative;
    display: flex;
    justify-content: center;
}

.input__search {
    width: 70%;

    height: 30px;
    border-radius: 0.5rem;
    border: 1px solid $secondary-color;
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;

    color: $secondary-color;
    outline: none;
    transition: all 0.5s ease-in-out;
    background: $primary-color;
    margin-top: 3rem;

    &:focus {
        border: 1px solid $secondary-color;
        color: $secondary-color
    }
}

.video__title {
    position: absolute;
    transform: translate(10px, 12px);


    z-index: 1000;
}

.paragrafo__defecto {
    --tw-text-opacity: 1;
    color: rgb(136 136 136/var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    transform: translateY(-8px);
}

.titulo__defecto {
    text-align: start;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 1rem;
    transform: translateY(13px);
}

.work__objetivos {
    width: 100%;
    display: flex;




    flex-wrap: wrap;
    justify-content: space-between;

    .lenguage {
        padding: 6px;
        background: #262626;
        margin-left: 1rem;
        font-size: 0.8rem;
        width: 10rem;
        text-align: center;
    }

    .work__objetivo {
        border-radius: 0.5rem;
        padding: 0.5rem;
        border: 1px solid $secondary-color;
        width: 100%;
        height: 156px !important;

        display: flex;


        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 2rem;

    }

    .work__objetivo__nombre {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;

    }

    .work__objetivo__descripcion {
        font-size: 14px;
        color: #999;
        margin-bottom: 10px;
    }

    .link__objetivo {
        @extend .work__objetivo;
        color: white;
        //quitar stylo al link
        text-decoration: none;
        height: fit-content;
        transition: transform 0.5s ease-in-out;
        display: grid;
        height: 120px;
        overflow: hidden;

        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 2fr;
        grid-template-areas:
            "titulo icono"
            "descripcion icono";


        .work__objetivo__nombre {
            grid-area: titulo;
            padding-left: 1rem;
        }

        .work__objetivo__descripcion {
            grid-area: descripcion;
            padding-left: 1rem;
        }



        .work__repo__nombre {
            grid-area: titulo;
            padding-left: 1rem;
            margin: 0;
            font-size: 1.5rem;
        }

        .work__repo__descripcion {
            grid-area: descripcion;
            padding-left: 1rem;
            margin: 0;
        }



        .icono {
            grid-area: icono;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
            gap: 1rem;
            padding-bottom: 1rem;
            padding-right: 1rem;

        }

        &:hover {
            transform: scale(1.05);


        }
    }
}