@import "../variables/vars";

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}


.s1,
.s2,
.s3,
.s4,
.s5 {
    display: none;
}

.slider {
    height: 20rem;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));

    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.s1:checked~.slide4,
.s2:checked~.slide5,
.s3:checked~.slide1,
.s4:checked~.slide2,
.s5:checked~.slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

.s1:checked~.slide5,
.s2:checked~.slide1,
.s3:checked~.slide2,
.s4:checked~.slide3,
.s5:checked~.slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

.s1:checked~.slide1,
.s2:checked~.slide2,
.s3:checked~.slide3,
.s4:checked~.slide4,
.s5:checked~.slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

.s1:checked~.slide2,
.s2:checked~.slide3,
.s3:checked~.slide4,
.s4:checked~.slide5,
.s5:checked~.slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

.s1:checked~.slide3,
.s2:checked~.slide4,
.s3:checked~.slide5,
.s4:checked~.slide1,
.s5:checked~.slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

.slide1 {
    background: #111010;
    border: 1px solid white;

}

.slide2 {
    background: #111010;
    border: 1px solid white;
}

.slide3 {
    background: #111010;
    border: 1px solid white;
}

.slide4 {
    background: #111010;
    border: 1px solid white;
}

.slide5 {
    background: #111010;
    border: 1px solid white;
}

.image {

    height: 80%;
    width: 80%;
}