.main_experience {
    width: 100%;
    height: 100%;
    line-height: 1.5;

    .main_experience__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;

    }

    .main_experience__title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .main_experience__description {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    .style.main_experience__icon {
        padding: 1rem;
        background: green;
    }
}